<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <title>{% block title %}Vzer.Zhang后台管理{% endblock %}</title>
    <!-- Loading Bootstrap -->
    <link href="{{ url_for("static",filename="dist/css/vendor/bootstrap.min.css") }}" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="{{ url_for("static",filename="dist/css/flat-ui.css") }}" rel="stylesheet">
    <!-- Loading My Style -->
	<link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="mystyle.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="jqcloud.css") }}">

    {% block headjs %}
    {% endblock %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ url_for("static",filename="gagasalamer.ico") }}">
</head>

<body style="background-color:#EEE">

    <div class="container">
	    <div class="row clearfix">
		    <div class="col-md-12 column">
            	<nav class="navbar navbar-default navbar-Amethyst" role="navigation" style="margin:10px 0px;">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                                <span class="sr-only">Toggle navigation</span>
                            </button>
                            <a class="navbar-brand" href="{{ url_for("view.index") }}">Vzer.Zhang</a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-collapse-01">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="dropdown">
                                    <a href="{{ url_for("view.index") }}" class="dropdown-toggle" data-toggle="dropdown">MYBLOG<b class="caret"></b></a>
                                    <span class="dropdown-arrow"></span>
                                    <ul class="dropdown-menu">
                                        {% for category in g.MyBlogMenu %}
                                            <li><a href="{{ url_for("view.category",id=category.id) }}">{{ category.categoryname|upper}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li><a href="{{ url_for("view.message") }}">MESSAGE</a></li>
                                <li><a href="/about">ABOUTME</a></li>
                                <li><a href="{{ url_for("view.show_weather") }}">FUNCTION</a></li>
                                <li><a href="{{ url_for("view.show_friendlink") }}">FRIENDLINK</a></li>
                            </ul>
                            <form class="navbar-form navbar-right" action="{{ url_for("view.search") }}" method="post" role="search">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" name="search" type="search" placeholder="Search">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn"><span class="fui-search"></span></button>
                                            </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
		</div>
	</div>

    <div class="jumbotron" style="background-color:#2c3e50">
        <div class="container">
            <h2 style="color:#E7DBDB">Hello, I am Vzer.zhang!</h2>
            <p class="lead" style="color:#E7DBDB">wanna know more , please click </p>
            <a href="about"><button class="btn btn-danger btn-wide the-font">关于我</button></a>
        </div>
    </div>
    {% block body %}
    {% endblock %}

    <div style="margin-top: 15px;background:#384452 none repeat scroll 0% 0%;color:#BFC9D3">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h5 style="margin-bottom:15px;margin-left:18px;"><strong>FRIENDLY LINK</strong></h5>
                    <ul>
                        {% for link in g.FriendLink %}
                            <li><a href="http://{{ link.link_url }}"><span class="fui-heart" aria-hidden="true"></span>&nbsp {{ link.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-5">
                    <h5 style="margin-bottom:15px;margin-left:18px;"><strong>CONTACT ME</strong></h5>
                    <ul>
                        <li><a href="http://weibo.com/2131709410/profile"><span class="fui-pinterest" aria-hidden="true"></span> &nbsp WEIBO</li>
                        <li><a href="https://github.com/vzer"><span class="fui-github" aria-hidden="true"></span>&nbsp GITHUB</a></li>
                        <li><a href="#"><span class="fui-mail" aria-hidden="true"></span>&nbsp EMAIL:<strong>584088967@qq.com</strong></a></li>
                    </ul>
                </div>
                <div class="col-md-12 text-center">
                    <p> <small>© COPYRIGHT BY VZER 2015</small></p>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="{{ url_for("static",filename="dist/js/vendor/jquery.min.js") }}"></script>
    <script src="{{ url_for("static",filename="dist/js/vendor/video.js") }}"></script>
    <script src="{{ url_for("static",filename="dist/js/flat-ui.min.js") }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script type="text/javascript" src="{{ url_for("static",filename="mystyle.js") }}"></script>
    {% block bodyjs %}
    {% endblock %}

</body>
</html>