{% extends "admins/layout.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for message in get_flashed_messages() %}
                        <div class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <p><small>{{ message }}</small></p>
                            </div>
                    {% endfor %}
                {% if form.errors %}
                    <div class="alert alert-warning">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                            {% for field_name,field_errors in form.errors|dictsort if field_errors %}
                                {% for error in field_errors %}
                                    <p><small>{{ form[field_name].label }}:{{ error }}</small></p>
                                {% endfor %}
                            {% endfor %}
                    </div>
                {% endif %}

                <form class="form-horizontal"  method="post" role="form">
                    <div class="login-form">
                            <div class="form-group">
                                {{ form.hidden_tag() }}
                                <div class="col-md-4">
                                    {{ form.loginName.label(class="login-field-icon fui-user") }}
                                </div>
                                <div class="col-md-5">
                                    {{ form.loginName(class="form-control login-field",placeholder="您的用户名") }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    {{ form.loginPassword.label(class="login-field-icon fui-lock") }}
                                </div>

                                <div class="col-md-5">
                                    {{ form.loginPassword(class="form-control login-field",placeholder="您的密码") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-6">
                                    {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
                                </div>
                            </div>
                            <div class="text-center">
                                <a class="login-link" href="{{ url_for(".register") }}">点击注册</a>
                            </div>

                        </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}