{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h1 class="text-center">500 SERVER ERROR!!</h1>
                    <img src="/vzerblog/static/404.gif" alt="404 page">
                    <p class="lead">Sorry, an error has occurred!</p>
                    <p class="lead"><a href="javascript:history.go(-1);">click  here return</a> </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}]