{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if entry %}
                    {% for post in entry %}
                        <article class="article the-font">
                            <a href="/entry/{{ post.id }}"><h3 style="color:#34495E">{{ post.title }}</h3></a>
                            <p><small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span style="color:#8C8C8C;">{{ post.create_time }}</span></small></p>
                            <p>{{ post.fragment|safe }}</p>
                            <div style="border-top:1px solid #EBEBEB;padding:10px 5px;margin-top:20px;">
                                <p><a href="/category/{{ post.tag }}"><span class="label label-default text-left"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> {{ post.tag }}</span>
                                <a href="/entry/{{ post.id }}" style="float:right"><button class="btn  btn-primary btn-wide text-right"><span class="glyphicon glyphicon-fire glyphicon " aria-hidden="true"></span>了解更多</button></a></a></p>
                            </div>
                        </article>
                    {% endfor %}
                {% else %}
                    <div class="text-center">
                        <img src="/static/404.gif" alt="404 page">
                        <h2>SORRY,NO DATA!!</h2>
                        <p class="lead"><a href="javascript:history.go(-1);">click  here return</a> </p>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}