{% extends "layout.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="article the-font">
			        <h3 style="color:#34495E">{{ post.title }}</h3>
			        <p><small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span style="color:#8C8C8C;">{{ post.create_time }}</span></small></p>
			        <p>{{ post.content|safe }}</p>
			        <div style="border-top:1px solid #EBEBEB;padding:10px 5px;margin-top:20px;">
				        <p><a href="/category/{{ post.tag }}"><span class="label label-default text-left"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> {{ post.tag }}</span>
				        <a href="/" style="float:right"><button class="btn  btn-primary btn-wide text-right"><span class="glyphicon glyphicon-fire glyphicon " aria-hidden="true"></span>返回首页</button></a></a></p>
			        </div>
		        </article>
                <article class="article the-font">
			        <!-- 多说评论框 start -->
	                <div class="ds-thread" data-thread-key="{{ post.id }}" data-title="{{ post.title }}" data-url="{{ request.url }}"></div>
                    <!-- 多说评论框 end -->
		        </article>
            </div>
        </div>
    </div>

    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"vzer"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                 || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
	</script>
<!-- 多说公共JS代码 end -->
{% endblock %}